/* contactPage.css */

.contact-link {
  color: inherit;
  text-decoration: none;
}

.contact-link:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .MuiGrid-container {
    text-align: center;
  }

  .MuiGrid-item {
    margin-bottom: 16px;
  }
}
