.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url('../images/landingpage.jpeg') no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.7);
  position: relative;
  margin-bottom: 30px;
}

.intro .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro .header-content {
  position: relative;
  z-index: 2;
}

.intro h1 {
  font-size: 4rem;
  margin: 0;
}

.upper-left-text {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  .intro {
    background-size: cover;
    background-size: 180vw auto;
    min-height: 100vh;
    background-position: top center;
    height: auto;
    min-height: 50vh;
  }
  
  .intro h1 {
    font-size: 2rem;
  }
  
  .upper-left-text {
    font-size: 1rem;
  }
}
