body {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.typography-h5 {
  margin: 20px 0;
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
}

.carousel-card {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: auto;
  overflow: hidden;
  box-shadow: none;
}

.carousel-image {
  max-width: 100%; 
  max-height: 60vh; 
  object-fit: contain; 
}

.modal-carousel-image {
  display: block; 
  max-width: 100%; 
  max-height: 80vh;
  object-fit: contain; 
  margin: auto;
}

.dialog-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

@media (max-width: 768px) {
  .carousel-card {
    width: 100%; /* Ensures that the card takes the full width */
  }

  .typography-h5 {
    font-size: 1.2rem; /* Adjusts the font size for mobile */
  }

  /* Set a fixed height for images in the carousel on mobile devices */
  .carousel-image, .modal-carousel-image {
    height: 300px; /* Example fixed height, adjust as needed */
    width: auto; /* Maintain aspect ratio */
    object-fit: contain;
    max-width: 100%; /* Ensure image does not exceed the screen width */
  }
}
