.slide-container {
    width: 100%;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    overflow: hidden;
  }
  
  .each-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    height: 450px; /* Adjust height as needed */
  }
  
  .each-slide div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
  }
  
  
  .each-slide span {
    padding: 20px;
    font-size: 1.5em;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 5px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6);
  }
  
  /* Styles for the Modal Image */
.modal-image {
    max-width: 100%;    /* Maximum width is the width of the viewport */
    max-height: 80vh;   /* Maximum height is 80% of the viewport height */
    object-fit: contain; /* Ensures the image aspect ratio is preserved */
  }
  
  /* Additional styling for the Modal */
  .ui.modal > .content {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto; /* Allows scrolling if needed */
  }