body {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.MuiAppBar-root {
  background-color: #212121; 
}

.MuiCard-root {
  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.MuiCard-root:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.MuiTypography-h5 {
  color: #333;
  margin-bottom: 16px;
}

img {
  object-fit: cover;
}

.MuiCard-root {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
}

.MuiCard-root:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.carousel-card {
  max-width: 600px; 
  margin: auto; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.carousel-image {
  width: 100%; 
  height: auto;
  max-height: 90vh;
}

@media (max-width: 768px) {
  .MuiTypography-h5 {
    font-size: 1.2rem; 
  }

  .MuiCard-root {
    margin: 8px; 
  }
  .carousel-card {
    max-width: 100%; 
  }

  .carousel-image {
    max-height: none;
  }
}